@import url('https://fonts.googleapis.com/css2?family=Acme&family=Macondo&family=Open+Sans&family=Roboto&family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
}
.home-title {
    font-family: "Fugaz One", Macondo, Acme ;
    font-size: 2em;
    margin-top: 10px;
}
.content {
    max-width: 1600px;
    margin: 0 auto; 
}
nav a{
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.button-box {
    text-align: center;
}
#background {
    height: 725px;
}
body{
    background-color: rgb(17, 247, 255);
    font-family: Acme,Macondo, "Fugaz One"  ;
    font-size: 22px;
    margin: 0;
    padding: 0;

}
h2 {
    margin: 0;
}
header{
    background-color: aliceblue;
}
nav a:hover{
    background-color: rgb(17, 247, 255);
    color: black;
}
.book, .join {
    color: blue;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    color: green;
    text-decoration: underline;
}
.join:hover {
    color: rgb(17, 247, 255);
}
#background {
    background-color: green;
}
.msg {
    background-color: green;
    line-height: 1.5em;
    padding: 35px;
}
.home-title {
    color: green;
}
h4 {
    color: green;
}
.msg h2 {
    color: rgb(17, 247, 255);
    font-family: "Fugaz One", Macondo, Acme ;
}
.msg p {
    color: rgb(17, 247, 255);
    padding-bottom: 15px;
}
footer {
    background-color: aliceblue;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
text-align: center;
text-decoration: none;
}
footer a:hover{
    background-color: rgb(17, 247, 255);
    color: black;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;

}
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
}

#logo_link {
    padding-top: 5px;
}
footer .social img { 
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid green;;
}