div {
    display: grid;
    grid-template-columns: 50% 50%;
}
.home-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 1/3;

}
h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    text-align: center;
    font-size: 200px;
    width: 95%;
}
h2 {
    color: red;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 120px;
    padding-top: 60%;
    text-align: center;
}

body {
    background-color: gray;
}
img {
    background-color: white;
    grid-column: 1/2;
    grid-row: 1/2;
}