@import url('https://fonts.googleapis.com/css2?family=Acme&family=Macondo&family=Open+Sans&family=Roboto&family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.home-title {
    font-family: "Fugaz One", Macondo, Acme ;
    font-size: 2em;
    margin-top: 10px;
}
.content {
    max-width: 1600px;
    margin: auto;
}
header{
    background-color: red;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a{
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-img{
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
footer {

    background-color: red;
    padding: 25px 50px;
    margin-top: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
text-align: center;
text-decoration: none;
}

.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 120px;
    height: 100%;
}
.button-box {
    text-align: center;
}
body{
    background-color: blue;
    font-family: Acme,Macondo, "Fugaz One"  ;
    font-size: 22px;
    margin: auto;
    padding: 25px;

}
#hero-msg{
    color: blue;
}
.home-title{
    color: red;
}
.call{
    color: red;
}
#repair{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap:10% ;
    grid-row-gap:10% ;
}
.roadside-assistance{
    grid-column: 1/2;
    grid-row: 1/2;
}
.repair-services{
    grid-column: 2/3;
    grid-row: 1/2;
}


.agent{
grid-column: 1/2;
grid-row: 2/3;
text-align: center;
}
.roadside-recovery{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    
}
.truck-img{
    width: 80%;
    height:80% ;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: auto;

}
.mechanic-img{
    width: 80%;
    height:80% ;
    justify-content: center;
    justify-items: center;
    margin: auto;
    text-align: center;
}

h4{
    text-align: center;
}
section{
    text-align: center;
}

section p{
    color: blue;
    background-color: red;
    margin: auto; 
}



/* Page 2*/

.standby-assistance-paragraph{
    width: 60%;
    margin: auto;
}
.container {
    position: relative;
    background-color: red;
  }
.two-agents-img{
    width: 500px;
    display: block;
    text-align: center;
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: auto;
}
.standby-assistance{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.standby-assistance{
    text-align: center;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .container:hover .two-agents-img {
    opacity: 0.3;
  }
  .container:hover .middle {
    opacity: 1;
  }
  .text {
    background-color: black;
    color: red;
    font-size: 16px;
    padding: 16px 32px;
    grid-column: 1/2;
    grid-row: 1/2;
  }







/*Page 3 */
.repair-services-page{
    display: grid;
    grid-template-columns: 1fr; 
}
.repair-services-page p{
    color: red;
    
}
.engine-img{
    width: 30%;
    height: auto;
    float: left;
    margin-right: 20px;
}
.repair-services-page{
    text-align: center;
}
.engine-overall{
    color: red;
    padding-top: 100px;
}
.specialists-img{
width: 40%;
margin: auto;
}
#book-mechanic{
    background-color: black;
    color: red;
      
}
.call{
    background-color: black;
}